/* body */
body {
    font-family: 'Montserrat', sans-serif;
    /* font-size: 45px; Размер шрифта */
}

/* main styles */
.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

/* main content */
.main-content {
    background-color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 90px;
    margin-right: 300px;

    /* margin: (верх право низ лево)px; 
    margin: 100px; отступы со всех сторон блока
    margin: (верх, низ)px (лево, право)px; */

}

/* about user styles */
.about-user {
    
}

/* sidebar */
.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 280px;
    margin-bottom: 50px; 
}

/* photo */
.photo {

}

/* sidebar-content */
.sidebar-content {
    margin-top: 50px;
    margin-left: 40px;
    color: white;
}

/* sidebar-title */
.sidebar-title {
    font-style: Bold; 
    font-size: 22px; 
    line-height: 27px; 
    line-height: 100%; 
    Align: Left; 
    vertical-align: Top;
}

/* contact-type */
.contact-type {
    font-style: Bold; 
    font-size: 14px; 
    line-height: 24px; 
    line-height: 141%; 
    Align: Left; 
    vertical-align: Top;
    margin-right: 10px;
}

/* contacts */
.contacts {
    margin-bottom: 50px;
}

.tel {
    text-decoration: none;
    color: #A6A9AD;
    Font-style: Regular; 
    Font-size: 14px; 
    line-height: 24px; 
    line-height: 141%; 
    Align: Left; 
    vertical-align: Top;
}

.mail {
    text-decoration: none;
    color: #A6A9AD;
    Font-style: Regular;
    Font-size: 14px;
    line-height: 24px;
    line-height: 141%;
    Align: Left;
    vertical-align: Top;
}

/* tech-skills */
.tech-skills {
    margin-bottom: 50px;
}

/* side-list */
.side-list {
    padding: 0%;
    margin-left: 17px;
    font-style: Regular; 
    font-size: 14px;
    line-height: 24px;
    line-height: 141%; 
    Align: Left; 
    vertical-align: Top;
}

/* item */
.item {
    color: #FB6D3A;
}

/* skills */
.skills {
    color: white;
}