/* body */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    /* font-size: 45px; Размер шрифта */
}

/* main styles */
.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1000px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* main content */
.main-content {
    background-color: #FFFFFF;
    padding: 100px 90px;
       
    /* margin: (верх право низ лево)px; 
    margin: 100px; отступы со всех сторон блока
    margin: (верх, низ)px (лево, право)px; */

}

/* about user styles */

.about-user {
    margin-top: 10px;
    margin-bottom: 40px;
}

.about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
    
}

.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    /* border: 1px solid #000000; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* projects */

.projects {
    margin-bottom: 50px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.project-list {
    padding: 0;
    margin-left: 15px;
}

.project-title, 
.project-bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.link, 
.project-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-decoration: none;
}

.link {
    margin-left: 10px;
    /* margin-right: 20px; */
}

.link-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

/* work */

.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work-list {
    padding: 0;
    margin-left: 15px;
    margin-bottom: 20px;
}

.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    /* width: 500px; */
}

/* education */

.education-place {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.department {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}

/* sidebar */

.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 260px;
}

/* sidebar-content */
.sidebar-content {
    margin-top: 50px;
    margin-left: 40px;
    color: white;
    /* width: 200px; */
}

/* sidebar-title */
.sidebar-title {
    font-style: Bold; 
    font-size: 22px; 
    line-height: 27px; 
    line-height: 100%; 
}

/* contact-type */
.contact-type {
    font-style: Bold; 
    font-size: 14px; 
    line-height: 24px; 
    line-height: 141%; 
    margin-right: 10px;
}

/* contacts */
.contacts {
    margin-bottom: 50px;
}

.tel {
    text-decoration: none;
    color: #A6A9AD;
    font-style: Regular; 
    font-size: 14px; 
    line-height: 24px; 
    line-height: 141%; 
}

.mail {
    text-decoration: none;
    color: #A6A9AD;
    font-style: Regular;
    font-size: 14px;
    line-height: 24px;
    line-height: 141%;
}

/* tech-skills */
.tech-skills {
    margin-bottom: 50px;
}

/* side-list */
.side-list {
    padding: 0%;
    margin-left: 17px;
    font-style: Regular; 
    font-size: 14px;
    line-height: 24px;
    line-height: 141%;
    margin-right: 20px;
}

/* item */
.item {
    color: #FB6D3A;
}

/* skills */
.skills {
    color: white;
}

.lang-skills {
    padding-bottom: 40px;
}